#root {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}

/* ===== Dropdown Styles ===== */
.dropdown-header {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-icon {
  transition: transform 0.3s ease;
  font-size: 1rem;
  color: var(--color-text);
}

.dropdown-icon.rotate {
  transform: rotate(180deg);
}

.dropdown-desc {
  color: var(--color-text);
  font-size: 1rem;
  margin-top: 0.2rem;
}

.dropdown-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease, opacity 0.5s ease;
  opacity: 0;
}

.dropdown-content.open {
  max-height: 400px;
  opacity: 1;
}

.dropdown-list {
  padding-left: 1.2rem;
  margin-top: 0.5rem;
}

.dropdown-actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dropdown-actions a svg {
  color: var(--color-text);
  transition: color 0.2s ease, transform 0.2s ease;
}

.dropdown-actions a:hover svg {
  transform: scale(1.1);
}


/* ===== Icons ===== */
.social-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 0.75rem;
}

.social-nav a svg {
  font-size: 1.8rem;
  color: var(--color-text);
  transition: transform 0.2s ease, color 0.2s ease;
}

.social-nav a:hover svg {
  transform: scale(1.2);
}

.linkedin-icon:hover svg {
  color: #0077b5;
}

.github-icon:hover svg {
  color: #b0b0b0;
}

/* ==== Animations ==== */
.typing {
  display: inline-block;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid var(--color-primary);
  width: 0;
  animation: 
    typing 1s steps(8, end) 2s forwards,  /* 1s delay */
    remove-cursor 0.5s 4s forwards;
}

@keyframes typing {
  from { width: 0; }
  to { width: 8ch; }
}

@keyframes remove-cursor {
  to { border-right: none; }
}
