#root {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}

.iconContainer {
  position: absolute;
  top: 70px;
  right: 1100px;
  display: flex;
  gap: 12px;
}

.icon {
  color: #ffffff;
  text-decoration: none;
}

.linkedin:hover {
  color: #0077b5;
}

.github:hover {
  color: #aaa
}

.dropdown-header {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-icon {
  transition: transform 0.3s ease;
  font-size: 1rem;
  color: #bbb;
}

.dropdown-icon.rotate {
  transform: rotate(180deg);
}

.dropdown-desc {
  color: #fff;
  font-size: 0.9rem;
  margin-top: 0.2rem;
}

.dropdown-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease, opacity 0.5s ease;
  opacity: 0;
}

.dropdown-content.open {
  max-height: 400px;
  opacity: 1;
}

.dropdown-list {
  padding-left: 1.2rem;
  margin-top: 0.5rem;
}

.header {
  display: flex;
  align-items: flex-end;
  gap: 12px;
}

.header h1 {
  margin: 0;
  font-size: 2rem;
  color: white;
}

.icons {
  display: flex;
  gap: 10px;
}

.icons a {
  color: white;
  transition: transform 0.2s ease;
  align-items: flex-end;
}

.icons a:hover {
  transform: scale(1.2);
}

.linkedin-icon:hover {
  color: #0077b5;
}

.github-icon:hover {
  color: white;
}
